<!--The content below is only a placeholder and can be replaced.-->

<img src="assets/images/logo2.png" id="logo">

<div id=hd1>
    <h1>Fashion Era</h1>
    
    
        <button class="but">
                <div class="hdiv" id="but2">
                    <a routerLink="/view"><h2>HOME</h2></a>
                    </div>
        </button> 
            
   
   
       
          <button class="but" id="but">
                    <div class="hdiv" id="id2">
                        <a routerLink="/product1"> <h2>PERFUME</h2></a>
                        </div>
            </button> 
    
            
            
            <button class="but" id="but1">
                    <div class="hdiv" id="id3">
                        <a routerLink="/product">  <h2>COSMETIC</h2></a>
                    </div> 
            </button>
      
    
        </div>
       
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

  <router-outlet></router-outlet>


  

