


 <div class=menu  *ngIf="product"> 
  
    <img src="{{product.image}}" >
    <table id="tmenu" >
                  <tr id="mtr">
                          <td><h3>NAME:</h3></td>
                          <td><h3>{{product.name}}</h3></td>
                      </tr>
                      <tr id="mtr">
                          <td><h3>Price:</h3></td>
                          <td><h3>{{product.price}}</h3></td>
                      </tr>
              <tr>
                  <td><h3>Quantity</h3></td>
                  <td><input type=text [(ngModel)]="quantity"  class="detail" name="price" placeholder=" Please Enter The Quantity " id="price"></td>
              </tr>
              <tr>
                  <td><h3>Total</h3></td>
                  <td><h2>{{product.price*quantity}}₹</h2><h2></h2></td>
                  
              </tr>
              <tr>
                  <td><a routerLink="/buy1/{{product.id}}"><button class="button">Proceed</button></a></td>
                  <td><a routerLink="/product1"><button class="button">Cancel</button></a></td>
              </tr>
          </table>
    </div>


