<div>
    <img src="/assets/images/cpic1.jpg" id="pic1">
    <div id="div2"></div>
    <p id="p1">Cosmetic Shop<br>
        Stay up to date with the latest <br>news around the World and <br>the inspiration behind<br> the collections.</p>
      </div>
<br>
<br>
<br>
<br>
<br>
      <hr>
      <div>
          <img src="/assets/images/cpic5.jpg" id="pic2">
          <div id="div3"></div>
          <p id="p2">Cosmetic Shop<br>
              Stay up to date with the latest <br>news around the World and <br>the inspiration behind<br> the collections.</p>
            </div>
            <div>
                    
                            <table id="table">
                                <tr class="tr">
                                    <td class="td">
                                        <input type=text name="name" placeholder="Your Name" class="in" >
                                    </td>
                                </tr>
                                <tr class="tr">
                                        <td class="td">
                                            <input type=text name="email" placeholder="Your Email" class="in" >
                                        </td>
                                    </tr>
                                    <tr class="tr" >
                                            <td class="td">
                                                <input type=textarea name="message" placehoder="Meassage...."  class="in" id="add" >
                                            </td>
                                        </tr>
            
                                        <tr>
                                            <td><button id="btn" >Submit</button></td>
                                        </tr>
                            </table>
                            <div align="center" id="con">
                                <a href="https://gmail.com">
                                <img border="0" alt="gmail" src="/assets/images/gmail.png" width="70" height="70"></a>
                                <a href="https://facebook.com">
                                <img border="0" alt="gmail" src="/assets/images/facebook.png" width="70" height="70"></a>
                                <a href="https://twitter.com">
                                <img border="0" alt="gmail" src="/assets/images/twitter.png" width="70" height="70"></a>
                                <a href="https://instagram.com">
                                <img border="0" alt="gmail" src="/assets/images/insta.png" width="70" height="70"></a>
                                </div>
            
                   
                </div>
            
            